*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/*HEADER*/
header{
  height: 700px;
}

.bg-header{
  background-color: #0C325A;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 115% 110%;
}
/*HEADER - nav*/
nav{
  vertical-align: middle;
  padding-top: 15px;
}

nav img{
  vertical-align: middle;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-right: 10px;
}

nav ul, div.logo {
  display: inline-block;
  vertical-align: middle;
  line-height: 52px;
}

div.logo{
  margin-right: 3%;
}

nav ul li{
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 10px;
  margin-left: 10px;
}

li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8em;
}

nav ul.lato-dx{
  float: right;
}

[class^="btn-circ"]{
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
}
.btn-green{
  background-color: #7BBC1E;
  border: 1px solid #7BBC1E;
}

div.t-header{
width: 50%;
color: #ffffff;
padding-top: 15%;
}

.t-header h1{
font-size: 4em;
margin-bottom: 50px;
line-height: 80px;
}

.btn-circ-img{
  padding: 20px 20px;
}

/*MAIN*/

[class^="col-"]{
  float: left;
  padding: 0 15px;
}

.row:after{
  content: '';
  display: table;
  clear: both;
}

.row{
  margin: 0 -15px;
}

.col-100{
  width: 100%;
}

.col-33{
  width: calc(100%/3);
}

div.main-sup{
  text-align: center;
  padding: 4%;
  line-height: 40px;
}

div.bg-main-sup{
  background-color: #D3D3D3;
  font-size: 1.2em;
}

.main-sup p {
  color: grey;
}

div [class^="main-mid-"]{
  text-align: center;
  padding: 30px 0;
}

.main-mid-img .col-33 img{
  width: 100%;
  margin: 0 auto;
}

.main-mid-img .col-33 h3{
  color: #7BBC1E;
  font-size: 2em;
  padding-top: 50px;
}
